.start-game-main {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}
.start-game-wrapper {
    display: flex;
    margin: 40px 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.start-game-option-wrapper {
    min-width: 250px;
    color: #253237;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-wrapper {
    margin-top: 80px;
}
.button-wrapper button {
    transition: tranform 2s;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: #5C6B73;
    font-size: 18px;
    cursor: pointer;
}
.button-wrapper button:hover {
    transform: scale(1.05);
}
.start-game-option-wrapper p {
    font-size: 22px;
    font-weight: 400;
}
.start-game-option-wrapper select {
    padding: 5px 0px;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}
