.global-scores-wrapper {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.global-scores-wrapper p {
    font-size: 25px;
    color: #E0FBFC;
}
.global-scores-wrapper .go-back {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #5C6B73;
    color: #E0FBFC;
    cursor: pointer;
}
.global-scores-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 0px 30px 0px;
}
.global-scores-nav button{
    padding: 10px 30px;
    font-size: 20px;
    background-color: #9DB4C0;
    color: white;
    outline: none;
    border: none;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .global-scores-nav button {
        padding: 5px 15px;
    }
}
