.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.normal-button {
    padding: 10px 30px;
    background-color: #E0FBFC;
    color: #5C6B73;
    border: 1px solid #5C6B73;
    cursor: pointer;
    border-radius: 5px;
}
.warn-button {
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #e7dbdb;
    color: red;
    border: 1px solid red;
    margin: 10px;
    cursor: pointer;
}
