.game-over-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.game-over-wrapper p {
    color: #E0FBFC;
    margin-bottom: 40px;
}
.game-over-wrapper button {
    padding: 15px 20px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    color: #253237;
    background-color: #E0FBFC;
}
table {
    background-color: white;
    margin-bottom: 15px;
}
th {
    color: #253237;
    font-weight: 500;
    font-size: 22px;
}
th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #253237;
}
td {
    font-weight: lighter;
    color: #253237;
    font-size: 18px;
}
