.send-mail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E0FBFC;
    padding: 20px;
    margin-bottom: 20px;
}
.send-mail-wrapper p {
    margin: 5px;
}
.send-mail-wrapper input {
    margin: 15px 0px 20px;
}
.send-mail-wrapper button {
    margin: 5px 0px 0px 0px;
}
