.tile-matched {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px;
    background-color: white;
}
.tile-show {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px;
}
@media only screen and (max-width: 700px) {
    .tile-matched {
        height: 100px;
        width: 100px;
    }
    .tile-show {
        height: 100px;
        width: 100px;
    }
}
@media only screen and (max-width: 400px) {
    .tile-matched {
        height: 70px;
        width: 70px;
    }
    .tile-show {
        height: 70px;
        width: 70px;
    }
}
