.main-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #253237;
    color: #E0FBFC;
    align-items: center;
}
.main-wrapper p {
    margin: 0px;
    padding: 20px;
    font-size: 24px;
    font-weight: 400;
}
.user-info-wrapper {
    display: flex;
    align-items: center;
    margin: 0px 20px;
}
.user-info-wrapper p {
    font-size: 15px;
    padding: 0px;
    margin: 0px 20px;
    color: #9DB4C0;
}

.user-info-wrapper button {
    color: #9DB4C0;
    background-color: #5C6B73;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
}
.user-info-wrapper button:hover {
    color: #253237;
}
.user-info-wrapper button:active {
    outline: none;
}
