.main-login-wrapper {
    margin: 20px;
    display: flex;
    justify-content: center;
}
.login-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
.login-wrapper p {
    font-size: 24px;
    margin-top: 5px;
}
.login-wrapper input {
    outline: none;
    font-size: 15px;
    padding: 7px;
    border: 0.5px solid #253237;
    color: #253237;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 3px;
}
.login-wrapper button {
    align-self: flex-end;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: 0.5px solid #253237;
    cursor: pointer;
}
.auth-switch {
    margin: 10px 0px;
    align-self: flex-end;
    text-decoration: none;
    font-size: 12px;
}
.auth-error {
    font-size: 10px !important;
    margin: 0px!important;
    color: red;
}
.disabled {
    pointer-events: none;
    opacity: 0.4;
}
.password-error {
    font-size: 10px !important;
    margin: 0px 0px 10px 0px!important;
    color: red;
    align-self: flex-end;
}
